
<div class="b-example-divider"></div>

<div class="container-fluid ">
  <header class="d-flex justify-content-center py-3 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item h1"><a href="#intro" class="nav-link " aria-current="page"><b>Introducation</b></a></li>
      <li class="nav-item h1"><a href="#post" class="nav-link "><b>Posts</b></a></li>
      <li class="nav-item h1"><a href="#about" class="nav-link "><b>About</b></a></li>
      <li class="nav-item h1"><a href="#footer" class="nav-link "><b>Footer</b></a></li>
      {% comment %} <li class="nav-item"><a href="#" class="nav-link active">About</a></li> {% endcomment %}
    </ul>
  </header>
</div>