
<div class="container px-4 py-5" id="custom-cards">
    <h1 class=" border-bottom" id="about">About</h1>
</div>
<form method="POST">
    <div class="mb-3">
      <h1><label for="exampleInputEmail1" class="form-label">Name:</label></h1>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <h1><label for="exampleInputPassword1" class="form-label">Phone Number</label></h1>
      <input type="number" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
