@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Jersey+10&display=swap');
*{
 margin: 0;
 padding: 0;
}

@font-face {
    font-family: normals;
    src: url("./Fonts/moderne-schwabacher.3d-schwabacher.ttf");
}
@font-face {
    font-family: importent;
    src: url("./Fonts/moderne-schwabacher.fette-schwabacher.ttf");
}



body{
    background-color: black;
}

